activate
*.swp
__pycache__
.vscode/

GHOSTSCRIPT/*
!GHOSTSCRIPT/.keep
GSPRINT/*
!GSPRINT/.keep

cloudPrint/asset/socialPay/*
!cloudPrint/asset/socialPay/.keep

cloudPrint/save_image/*
!cloudPrint/save_image/.keep
